<launch>
  <node pkg="realsense_record_publisher" name="realsense_record_publisher" type="realsense_record_publisher" output="screen" >
      <param name="dataset_directory" value="/home/manos/Downloads/felice dev/try2" type="str"/>
      <param name="rgb_index_file" value="rgb_aligned.txt" type="str"/>
      <param name="rgb_calibration_filename" value="rgb.intrinsics" type="str"/>
      <param name="rgb_distortion_coefficients_filename" value="rgb.distortion" type="str"/>
      <param name="depth_index_file" value="depth_aligned.txt" type="str"/>

      <param name="rgb_info_topic_name" value="/camera/color/camera_info" type="str"/>
      <param name="rgb_image_topic_name" value="/camera/color/image_raw" type="str"/>
      <param name="depth_info_topic_name" value="/camera/aligned_depth_to_color/camera_info" type="str"/>
      <param name="depth_image_topic_name" value="/camera/aligned_depth_to_color/image_raw" type="str"/>
      <param name="publish_clock" value="true" type="bool"/>
  </node>
</launch>
